{% extends 'base.html' %}
{% load static %}

{% block title %}Договор оферты{% endblock %}

{% block content %}

<!--contract-->

<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2><strong class="llow">Публичная оферта</strong></h2>
                </div>
            </div>
        </div>

        <div class="container">

            <br> <b>В соответствии с пунктом 2 статьи 437 Гражданского Кодекса Российской Федерации данный документ является предложением ООО «Где Хороший Продукт?» ИНН 9731035830 ОГРН 1197746232056 адрес регистрации 115191, г. Москва, Духовской пер., д. 17, стр. 10, антресоль 1, этаж 3, (далее – Продавца), адресованным неограниченному кругу лиц (далее – Покупатель/Покупатели), о заключении Договора розничной купли-продажи товаров дистанционным способом.
            Договор считается заключенным на условиях настоящей Оферты с момента получения Продавцом оплаты заказа Покупателя. Оплата Товара подтверждает, что Покупатель согласен с условиями оферты.
            Принимая условия настоящей оферты, Покупатель соглашается с тем, что он ознакомился с политикой персональных данных.</b>

            <h6>1. Термины и определения</h6>

            <br><strong>1.1.</strong> Товар - объект купли-продажи (вещь), не изъятый и не ограниченный в гражданском обороте и представленный к продаже в Интернет-магазине, посредством размещения в соответствующем разделе Интернет-магазина. Предметом купли-продажи могут быть продовольственные и непродовольственные Товары в Интернет-магазине. Изображения продуктов, указанные на сайте, могут отличаться от изображений в действительности.
            <br><strong>1.2.</strong> Интернет-магазин – информационный ресурс в сети Интернет, принадлежащий Продавцу, расположенный по адресу:
            <br><strong>1.3.</strong> Покупатель – лицо, имеющее намерение заказать или приобрести Товар исключительно для личных, семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской деятельности и разместившее Заказ на сайте Интернет-магазина, либо указанное в Заказе в качестве получателя Товара.
            <br><strong>1.4.</strong> Продавец – ООО «Где Хороший Продукт?» ИНН 9731035830 ОГРН 1197746232056 адрес регистрации 115191, г. Москва, Духовской пер., д. 17, стр. 10, антресоль 1, этаж 3, осуществляющее продажу Товаров дистанционным способом в Интернет-магазине.
            <br><strong>1.5.</strong> Заказ – оформленный запрос Покупателя на покупку и доставку по указанному в запросе адресу Товаров, выбранных в Интернет-магазине, отправленный посредством сети Интернет.
            <br><strong>1.6.</strong> Условия доставки – условия, регламентирующие порядок доставки и оплаты Товаров.
            <br><strong>1.7.</strong> Оферта не регулирует качество и некоторые другие существенные параметры Товаров.
            <p></p>

            <h6>2. Общие положения</h6>
            <br><strong>2.1.</strong> Настоящая Публичная оферта регулирует взаимоотношения Продавца и Покупателя, а также определяет порядок розничной купли-продажи Товаров через Интернет-магазин, и является офертой Продавца, адресованной Покупателям - физическим лицам. При совместном упоминании Продавец и Покупатель также именуются – Стороны, а каждый по отдельности Сторона.
            <br><strong>2.2.</strong> К отношениям между Покупателем и Продавцом применяются положения ГК РФ, Закона РФ «О защите прав потребителей» от 07.02.1992 № 2300-1, Правила продажи товаров дистанционным способом, утверждённые Постановлением Правительства РФ № 612 от 27.09.2007 года и иные нормативные правовые акты.
            <br><strong>2.3.</strong> Продавец сохраняет за собой право в одностороннем порядке вносить изменения в настоящие Условия с предварительной их публикацией на Сайте. Адрес действующей редакции Условий в сети Интернет:
            <br><strong>2.4.</strong> Использование ресурса Интернет-магазина для просмотра и выбора Товара, а также для оформления Заказа является для Покупателя безвозмездным.
            <p></p>

            <h6>3. Порядок купли-продажи товаров</h6>
            <br><strong>3.1.</strong> Заказ Покупателя может быть оформлен на сайте Интернет-магазина.
            <br><strong>3.1.1.</strong> Покупатель оставляет Заказ, предоставляя Продавцу достоверную информацию о себе: имя, номер телефона, адрес доставки. Покупатель подтверждает, что ознакомлен с Условиями продажи Товаров через Интернет-магазин.
            <br><strong>3.2.</strong> После завершения процесса оформления Заказа, Заказу автоматически присваивается идентификационный номер («№ заказа»).
            <br><strong>3.3.</strong> После получения Заказа Продавец приступает к обработке Заказа в соответствии с данными в Заказе. Продавец проверяет наличие Товаров из Заказа и в случае их отсутствия удаляет отсутствующие Товары из Заказа, а также связывается с Покупателем и корректирует Заказ (добавляет/заменяет товарные позиции или отменяет Заказ по требованию Покупателя). В случае, если Продавцу не удалось связаться с Покупателем по предоставленному им номеру телефона до момента окончания сборки Заказа, дальнейшая корректировка Заказа не производится, а Товары, которых нет в наличии удаляются. Если Товаров в Заказе нет в наличии и Продавцу не удалось связаться с Покупателем по предоставленному им номеру телефона, Заказ аннулируется.
            <br><strong>3.4.</strong> Продавец и его представители вправе связаться с Покупателем по предоставленному номеру телефона для уточнения деталей Заказа.
            <p></p>

            <h6>4. Стоимость и порядок оплаты Товара</h6>
            <br><strong>4.1.</strong> Полная стоимость Заказа состоит из цены Товара в Интернет-магазине и стоимости доставки.
            <br><strong>4.2.</strong> Цена Товара указывается рядом с Товаром на Сайте.
            <br><strong>4.3.</strong> Продавец имеет право изменить Цену Товара в Интернет-магазине в одностороннем порядке после переоценки.
            <br><strong>4.4.</strong> Оплата Товара Покупателем производится в рублях онлайн-платежом с банковской карты Покупателя в Интернет-магазине после оформления заказа.
            <br><strong>4.5.</strong> Покупатель считается принявшим условия настоящей оферты с момента внесения полной оплаты Заказа.
            <p></p>

            <h6>5. Условия доставки или самовывоза Товара</h6>
            <br><strong>5.1.</strong> Общий ориентировочный срок доставки Товара состоит из ориентировочного срока обработки Заказа и ориентировочного срока доставки Заказа до адреса Покупателя.
            <br><strong>5.1.1.</strong> Ориентировочный срок обработки Заказа – в течение 1 часа с момента Заказа Товара, Покупатель может оформить Заказ круглосуточно. Если заказ оформлен в период с 09:00 до 18:00 по московскому времени. Если Заказ оформлен позднее 18:00 по московскому времени, то Заказ будет обработан на следующий день. В связи с повышенной загруженностью Интернет-магазина в праздничные дни или в силу непредвиденных обстоятельств, срок обработки Заказа может быть увеличен.
            <br><strong>5.2.</strong> После оформления Заказа Продавец связывается с Покупателем и согласовывает временной интервал доставки.
            <br><strong>5.3.</strong> Риск случайного повреждения Товара переходит к Покупателю в момент передачи Товара Покупателю, иному лицу, указанному в качестве получателя Заказа, либо лицу, уполномоченному Покупателем и/или получателем.
            <br><strong>5.4.</strong> Товары вручаются Покупателю или лицу, указанному в качестве получателя Заказа, либо лицу, уполномоченному Покупателем и/или получателем. При получении Товара Покупатель подтверждает, что не имеет претензий к количеству, внешнему виду, комплектности и срокам годности Товара. После приемки Товара Покупателем и/или Получателем Продавец не принимает претензий по количеству и внешнему виду Товара.
            <br><strong>5.5.</strong> При вручении заказанного Товара, оплаченного онлайн на Сайте Интернет-магазина, представитель Продавца, осуществляющий доставку заказанного Товара, вправе потребовать предъявить документ, удостоверяющий личность Покупателя. Данные действия направлены на избежание случаев мошенничества.
            <br><strong>5.6.</strong> Продавец вправе установить минимальную сумму Заказа для доставки. Подробные условия рассчитываются и отображаются Покупателю при выборе адреса и способа доставки. Покупатель подтверждает согласие с минимальной суммой доставки при размещении заказа.
            <br><strong>5.7.</strong> Реальный срок обработки Заказа может отклоняться в сторону увеличения от ориентировочного срока, который указан в оферте, на 4 часа, что не будет считаться нарушением обязательств Продавцом.
            <br><strong>5.8.</strong> Покупатель вправе оформить онлайн-возврат Товара, который Покупатель заказал через Интернет-магазин. Возможность доступна в течение 3 дней после оплаты Заказа. Конкретные условия возврата согласовываются Покупателем и Продавцом при оформлении онлайн-возврата. Продавец имеет право отказать Покупателю в онлайн-возврате Товара, если Продавец предполагает, что Покупатель злоупотребляет правом на онлайн-возврат Товара.
            <p></p>

            <h6>6. Права и обязанности</h6>
            <br><strong>6.1.</strong> Права Покупателя:
            <br><strong>6.1.1.</strong>Требовать от Продавца соблюдения Условий настоящей оферты.
            <br><strong>6.1.2.</strong> Осуществлять Заказы на сайте Интернет-магазина
            <br><strong>6.1.3.</strong> Иные права, предусмотренные настоящей офертой.
            <br><strong>6.2.</strong> Обязанности Покупателя:
            <br><strong>6.2.1.</strong> Своевременно оплатить и получить Заказ в соответствии с условиями настоящей оферты.
            <br><strong>6.2.2.</strong> Предоставлять Продавцу достоверную и необходимую для выполнения Продавцом своих обязательств информацию. За любое неисполнение Продавцом обязанности по настоящей оферте из-за недостоверных или некорректных данных в Заказе Продавец ответственности не несет.
            <br><strong>6.2.3.</strong> В состав продуктов могут быть включены ингредиенты, вызывающие личные аллергические реакции и непереносимость. Делая заказ на Товары на сайте Продавца, Покупатель подтверждает, что ознакомился с их составом и не имеет к нему претензий.
            <br><strong>6.2.4.</strong> До момента оформления Заказа на Сайте Интернет-магазина ознакомиться с содержанием и условиями, установленными в настоящей оферте, а также с иными условиями, указанными на Сайте Интернет-магазина, в том числе с ценами на Товар, и условиями формирования полной стоимости Товаров Продавца, установленными настоящей офертой.
            <br><strong>6.3.</strong> Права Продавца:
            <br><strong>6.3.1.</strong> Временно прекращать работу Интернет-магазина, а равно частично ограничивать или полностью прекращать доступ к Интернет-магазину до завершения необходимого технического обслуживания или модерации. Покупатель не вправе потребовать возмещения убытков и иных средств за такое временное ограничение доступности Интернет-магазина.
            <br><strong>6.3.2.</strong> Надлежащим образом исполнять свои обязательства, предусмотренные настоящей офертой.
            <br><strong>6.3.3.</strong> В одностороннем порядке без уведомления Покупателя в любое время изменять условия настоящей оферты, в том числе условия по доставке товара, минимальной сумме Заказа, стоимости доставки, а также иные условия, указанные в Интернет-магазине. При этом Продавец не вправе изменять условия для Покупателя, осуществившего Заказ на сайте Интернет-магазина в рамках подтвержденного Заказа, в том числе условия по цене Товара.
            <br><strong>6.3.4.</strong> Без согласования с Покупателем передавать свои права и обязанности по заключенной с Покупателем сделке (Договора) третьим лицам.
            <br><strong>6.3.5.</strong> Вносить изменения в описание, характеристики, названия, внешний вид и комплектацию товаров, без предварительного уведомления Покупателя.
            <br><strong>6.4.</strong> Обязанности Продавца:
            <br><strong>6.4.1.</strong> Соблюдать условия договора купли-продажи, соблюдать предъявленные к Товару требования;
            <br><strong>6.4.2.</strong> Передать Покупателю Товар в соответствии с выбранным и оформленным заказом и настоящими Условиями;
            <br><strong>6.4.3.</strong> Нести полную ответственность перед Покупателем за выполнение заказа до передачи Товара Покупателю;
            <br><strong>6.4.4.</strong> В максимально короткий срок информировать Покупателя о необходимости корректировки Заказа в случае отсутствия Товаров, заказанных Покупателем.
            <br><strong>6.4.5.</strong> Соблюдать условия политики конфиденциальности, опубликованные на сайте:
            <br><strong>6.4.6.</strong> Продавец гарантирует, что передаваемый Покупателю Товар надлежащего качества, не является бывавшим в употреблении и соответствует качественным требованиям, принятым в РФ.
            <p></p>

            <h6>7. Ответственность Сторон</h6>
            <br><strong>7.1.</strong> Стороны несут ответственность за неисполнение или ненадлежащее исполнение своих обязательств в соответствии с условиями Соглашения и законодательством РФ
            <br><strong>7.2.</strong> Продавец не несет ответственности за неисполнение либо ненадлежащее исполнение своих обязательств вследствие сбоев в телекоммуникационных и энергетических сетях, действий вредоносных программ, а также недобросовестных действий третьих лиц, направленных на несанкционированный доступ и/или выведение из строя программного и/или аппаратного комплекса Интернет-магазина. Вместе с тем Продавец обязуется принимать все разумные меры для предотвращения таких перебоев.
            <br><strong>7.3.</strong> В случае форс-мажорных обстоятельств, документально подтвержденных соответствующими органами, стороны освобождаются от исполнения настоящей оферты.
            <br><strong>7.4.</strong> Сайт Продавца содержит материалы, охраняемые авторским правом, товарные знаки и иные охраняемые законом материалы, включая, но не ограничиваясь: тексты, фотографии, графические изображения. Продавцу принадлежат исключительные права на использование содержания сайта Продавца, кроме случаев, отдельно отмеченных в содержании опубликованных на сайте материалов. Покупатель, не имеет права вносить изменения, публиковать, передавать третьим лицам, участвовать в продаже или уступке, создавать производные продукты или иным образом использовать, частично или полностью, содержание сайта Продавца.
            <br><strong>7.5.</strong> Продавец не несет ответственности, не может выступать в качестве ответчика в суде и не возмещает убытки, возникшие у Покупателя из-за действия или бездействия третьих лиц.
            <br><strong>7.6.</strong> Продавец не несет ответственности в случае некорректного выбора Покупателем характеристик или свойств Товара, являющегося предметом купли-продажи.
            <p></p>

            <h6>8. Разрешение споров</h6>
            <br><strong>8.1.</strong> Споры и разногласия, которые могут возникнуть по данному Договору, решаются путем соблюдения досудебного (претензионного) порядка.
            <br><strong>8.2.</strong> Если Стороны не придут к соглашению, эти споры и разногласия разрешаются в судебном порядке согласно действующему законодательству Российской Федерации.
            <p></p>

            <h6>9. Прочие условия</h6>
            <br><strong>9.1.</strong> К отношениям между Покупателем и Продавцом применяется законодательство Российской Федерации.
            <br><strong>9.2.</strong> Настоящие Условия обязательны для сторон в случае заказа, возврата, обмена Покупателем Товара у Продавца.
            <br><strong>9.3.</strong> Покупатель гарантирует, что настоящие Условия ему понятны, и он принимает их безусловно и в полном объёме.
            <br><strong>9.4.</strong> Недействительность какого-либо положения настоящей оферты не влечет за собой недействительность остальных положений.
            <br><strong>9.5.</strong> Во всем, что не предусмотрено настоящей офертой, Стороны руководствуются законодательством Российской Федерации.
        </div>
    </div>
</div>

<!--end contract-->

{% endblock %}